@using FormAuth.Models;
@{
    ViewBag.Title = "Index";
    var perList = ViewBag.PerList as List<Permission>;
}

<h2>Good->Index</h2>
<div>
    <ul>
        @if (perList != null)
        {
            var helloList = perList.Where(m => m.CName.ToLower() == "good");
            foreach (var item in helloList)
            {
                @Html.ActionLink(item.ActCnName, item.AName)
            }
        }
    </ul>
</div>
